<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adventurer Calculator</title>
</head>
<body>
<h2>Welcome</h2>
<h3 th:text="${'the power is ' + power}">to the guild</h3>
<span th:if="${power >= 0 and power <= 20000}">C Class</span>
<span th:if="${power > 20000 and power <= 100000}">B Class</span>
<span th:if="${power > 100000}">A Class</span>
</body>
</html>